{{ define "main" }}
<section class="landing">
  <article>
    <h1>Apps</h1>
    {{ .Content }}
    <div class="apps">
      {{ range where .Paginator.Pages "Section" "ne" "" }}
        <a class="app" style="border-color:{{ .Params.color_1 }}" href="https://{{ .Params.url }}">
          <img src="https://{{ .Params.url  }}/{{ .Params.image }}"/>
          <h2>{{ .Params.title}}</h2>
          {{ .Content }}
        </a>
      {{ end }}
    </div>
  </article>
</section>
{{ end }}
