$main-font: 'Raleway', sans-serif;
$secondary-font: 'Dancing Script', 'cursive';
$monospace-font: 'Menlo', 'Monaco', Courier;

$main-color: #888;
$color-3: #dddddd;

$color-0: #fbf3e9;
$color-1: #f3dbbe;
$color-2: #eabf95;
$color-4: #e2a66a;

@import '../../themes/cooking-lesson-theme/static/sass/theme';
