<aside>
	{{ $currentPage := . }}

	<nav>
		{{ range .Site.Menus.docs }}
			{{ if .HasChildren }}
				<h3>{{ .Name }}</h3>

				<ul>
					{{ range .Children }}
						<a href="{{ .URL }}">
							<li {{if $currentPage.IsMenuCurrent "docs" . }} class="active" {{ end }}>
								{{ .Name }}
							</li>
						</a>
					{{ end }}
				</ul>
			{{else}}

			<ul>
					<a href="{{ .URL }}">
						<li {{if $currentPage.IsMenuCurrent "docs" . }} class="active" {{ end }}>
							{{ .Name }}
						</li>
					</a>
			</ul>

			{{ end }}
		{{ end }}
	</nav>

</aside>
