<aside>
	<nav>
		<h3>Recent posts</h3>
		<ul>
			{{ $currentPage := . }}
			{{ range first 10 (where .Site.RegularPages "Section" "blog") }}
				<a href="{{ .URL }}">
					<li {{if eq $currentPage.URL .URL }} class="active" {{ end }}>
						{{ .Title }}
					</li>
				</a>
			{{ end }}
		</ul>
	</nav>
</aside>
