<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		<title>{{ .Site.Title }}</title>
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

		<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/alabaster.css"> -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:100,300,400,400i,700,800" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}

		{{ if .Site.Params.enableRSS }}
		<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ template "_internal/opengraph.html" . }}
	    {{ template "_internal/google_news.html" . }}
	    {{ template "_internal/schema.html" . }}
	    {{ template "_internal/twitter_cards.html" . }}
	</head>
