<header class="landing">
  <a href='{{ .Site.BaseURL }}'>
    <img id="avatar" src="{{ .Site.BaseURL }}images/avatar.png"/>
  </a>
  <h1>{{ .Site.Params.name }}</h1>
  <h2>{{ .Site.Params.description | markdownify }}</h2>
</header>
