{{ define "main" }}
	<section>
		<article>
			{{ range where .Paginator.Pages "Section" "ne" "" }}
				{{ partial "post.html" . }}
			{{ end }}
	  </article>
		{{ partial "aside-blog.html" . }}
	</section>
{{ end }}
